[include]
    path = ~/.gituser
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[color]
    ui = auto
[alias]
    co = checkout
    cob = checkout -b
    bra = branch
    cm = commit -m
    ca = commit --amend
    com = checkout master
    cod = checkout dev
    cp = cherry-pick
    sts = status
    df = diff
    dfc = diff --cached
    pp = pull --prune
    sth = status
[core]
    pager = less
    autocrlf = input
    excludesfile = ~/.gitignore
[user]
	email = cookie.speaker@gmail.com
	name = nonylene
[browse-remote "github.com"]
	top = https://{host}/{path}
	ref = https://{host}/{path}/tree/{short_ref}
	rev = https://{host}/{path}/commit/{commit}
	pr = https://{host}/{path}/pull/{short_ref}
	file = "https://{host}/{path}/{file.directory? and :tree or :blob}/{short_rev}/{file}{lines && \"#L%s\" % lines.join(\"-\")}"
