"-------Search--------
"インクリメンタルサーチを有効にする
"set incsearch
"大文字小文字を区別しない
set ignorecase
"大文字で検索されたら対象を大文字限定にする
set smartcase
"行末まで検索したら行頭に戻る
set wrapscan
"検索をハイライト
set hlsearch

"検索やコマンドの履歴
set history=50

